/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

header {
 align-self: center; 
}

h1 {
  font-style: italic;
  color: black;
  width: fit-content;
  padding: 0 0.5em 0 0.5em;
  background-color: white;
  box-shadow: 8px 5px gold, -8px -5px blue;
  align-self: center;
}

#user-container {
  display: flex;
  font-size: 14px;
  background-color: white;
 
  align-self: center;
}


#messages-card {
  border: 2px solid black;
  /*width: 40%;*/
  background-color: white;
  
  align-self: center;
}

#messages {
  padding: 0;
  list-style-type: none;
  background-color: white;
 
  align-self: center;
}

#question {
  font-size: 24px;
  color: black; 
  font-family: "Helvetica";
  font-weight: bold;
  background-color: white;
  padding: 0.25em 0 0.25em 0;
  align-self: center;
}

#inputArea {
  background-color: white;
 
  align-self: center;  padding: 10;
  text-align: center;
  width: 50%;
}

#messages li:nth-child(even) {
  background-color: dodgerblue;
  padding: 10px;
}

.message-item {
  padding-left: 0.5em;
}

#message-form {
  display: flex;
}

#message-form input {
  flex: 1 1 0;
  border-left: none;
  border-right: none;
  padding: 5px;
}

#submit {
  padding: 5px;
  background-color: gold;
  color: black;
  font-weight: bold;
  font-style: italic;
  border: none;
}

.name {
 font-weight: bold; 
}
